body{ 
margin: 0 auto; 
font-family: Calibri, sans-serif;
background-color: #B3A482;
}
 
.text{
	font-size: 122%;
	clear: both;
	margin: auto;
	margin-top: 1%;
	max-width: 1000px;
}

.Bunder{
background-image: url("pics/under-background.png"); 
}

#menu{ 
background: rgb(6, 49, 5); 
background-image: url("pics/background-menu.jpg"); 
font-size: 160%;
border-style: outset;
border-width: 6px;
border-top-color:gray;
border-left-color:gray;
border-right-color:black;
border-bottom-color:black;

}

.menu_words{
text-align: center;
}

#dmenu{
width: 40%;	
padding-left: 2%;
}

.Dmobile_menu{
display: none; 
}

/* Title Stuff ---------------------------------------------------------------------------------------------------------------------*/

.title{
	clear: both;
	margin: auto;
	margin-top: 1%;
	background-color: blue;
	width: 35%;
	min-width: 200px;
	font-size: 125%;
	height: auto;
	border-style: outset;
	border-width: 5px;
	border-top-color:gray;
	border-left-color:gray;
	border-right-color:black;
	border-bottom-color:black;
	background-image: url("pics/background-title.png"); 
	text-shadow: 2px 1px 2px gray;
	
}
	
	.stitle{
	text-align: center;
	margin-top: 0;
	}
	
	.utitle{
	font-size: 115%;
	margin: auto;
	background-color: orange;
	width: 30%;
	margin-top: 1%;
	border-style: outset;
	border-width: 5px;
	border-top-color:gray;
	border-left-color:gray;
	border-right-color:black;
	border-bottom-color:black;
	background-image: url("pics/under-background-menu.png"); 
	text-shadow: 2px 1px 2px #FFC64C;
	align-items: center;
	justify-content: center;
	height: auto;
	margin-bottom: 0;
	}
	
	.Mmtitle{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 0;
	}
	
	.llink{
	list-style-type: none;
	padding-bottom: 10%;
	}

	.link{
	text-decoration: none;
	color: white;
	padding: 0.5%;
	border-radius: 12px;
	background-color: rgb(255, 255, 255, 0.1); 
	}
		
	.link:hover{
	background-color: rgba(255, 255, 255, 0.500); 
	box-shadow: 1px 1px 1px 0 rgb(255, 255, 255,0.1), -1px -1px 1px 0 rgb(255, 255, 255,0.1);
	}

/*Image Stuff ---------------------------------------------------------------------------------------------------------------------*/ 
	/* Load in  */
	@keyframes trasnitionIn{
		from{
		opacity: 0;	
		transform: translateY(500px);
		}

		to{
		opacity: 1;	
		transform: translateY(0);
		}
	}

.flex_first{
display: flex;	
flex-wrap: wrap;
max-width: 2000px;
max-height: auto;
padding: 15px;
justify-content: center;
margin: auto;
gap: 1em;
animation: trasnitionIn 1.2s;
}

img{
width: 400px;
height: auto;
border-width: 4px;
border-style: solid;
border-color: black;
transition: .3s;
}

.imsaber:hover{
	border-color: lime;
	filter: brightness(75%); 
}

.imsh:hover{
	border-top-color: red;
	border-left-color: rgb(219, 218, 218);
	border-right-color: rgb(219, 218, 218);
	border-bottom-color: blue;
	filter: brightness(75%); 
	}
	
.imhammer:hover{
	border-color: lightgray;
	filter: brightness(75%); 
	}

.imhat:hover{
	border-color: gold;
	filter: brightness(75%); 
	}


.imchaos:hover{
	border-bottom-color: red;
	border-right-color: red;
	border-left-color: orange;
	border-top-color:orange;
	filter: brightness(75%); 
	}

.imaxe:hover{
	border-color: #82F7F7;;
	filter: brightness(75%); 
	}

.imamp:hover{
	border-top-color: black;
	border-right-color: red;
	border-left-color: blue;
	border-bottom-color:white;
	filter: brightness(75%); 
}

.imsaber_v2:hover{
	border-top-color: rgb(147, 51, 147);
	border-right-color: red;
	border-left-color: rgb(147, 51, 147);
	border-bottom-color:red;
	filter: brightness(75%); 
}

.imblast:hover{
	border-left-color: red;
	filter: brightness(75%); 
	}
	


/* Image Slider ------------------------------------------------------------------------------------------------------------------- */
.mySlides16-9{
display:none;
border-style: solid;
border-color: black;
margin: auto;
margin-top: 2%;
width: 55%;
height: auto;
}

.videoSlides {
margin: auto;
margin-top: 2%;
width: 95%; 
height: 55vh; 
}
  

.imgbuttonsLR {
display: flex;
justify-content: center;
margin-top: 0.2%;
}

.slide_buttonL{
border-style: none;	
font-size:165%;
background-color: #969997;
}

.slide_buttonL:hover {
background-color: rgb(0, 0, 0,0.8);
color: white;
transition: all .2s ease-in;
}

.slide_buttonR{
border-style: none;
font-size:165%;
background-color: #969997;
}

.slide_buttonR:hover {
background-color: rgb(0, 0, 0,0.8);
color: white;
transition: all .2s ease-in;}
/* End Image Slider ------------------------------------------------------------------------------------------------------------------- */




/*Other --------------------------------------------------------------------------- */
.foot{
position: fixed;
bottom: 0;
width: 100%;
background-color: black;
color: white;
}

  .ufoot{
float:clear;
position: fixed;
bottom: 0;
width: 100%;
background-color: #4F4F4F;
color: white;
}
 
.dmain{
background-color: rgb(255, 255, 255,0.5);
width: 90%;
padding-bottom: 12%;
height: auto;
margin: auto;
}


.rightIm{
float: right;
width: 30%;
height: auto;
border-style: solid;
border-color: black;
transition: transform .5s;	
}
	
.leftIm{
float: left;
width: 30%;
height: auto;
margin-left: 4%;
border-style: solid;
border-color: black;
transition: transform .5s;
}



/*Mobile phones: -----------------------------------------------------------------------------------------------------------------------*/
/*Mobile phones: -----------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width:500px) {

 #menu{
display: none;
	    }
			
.Dmobile_menu{
   display: inline-block;
}


/* Image Stuff------------------------------------------------------------------------------------------------------------------------- */
/* Image Slider */
.mySlides16-9{
	display:none;
	border-style: solid;
	border-color: black;
	margin: auto;
	margin-top: 4.5%;
	width: 95%;
	height: auto;
	}
	
.videoSlides {
	margin: auto;
	margin-top: 2%;
	width: 60%; 
	height: 35vh; 
	}

	.slide_buttonL{
	margin: auto;
	}
	
	
	.slide_buttonR{
	margin: auto;
	}
/* End Image Slider ------------------------------------------------------------------------------------------------------------------- */


.flex_first{
	display: flex;	
	flex-wrap: wrap;
	max-width: 875px;
	max-height: auto;
	margin: auto;
	gap: 1em;
	animation: trasnitionIn 1.2s;
}


img{
	width: 320px;
	height: auto;
	border-width: 4px;
	border-style: solid;
	border-color: black;
	transition: .3s;
}
/* Image Stuff end------------------------------------------------------------------------------------------------------------------------- */


.title{
	font-size: 150%;
}

.dropdown-menu{
display: none;
position: absolute;	
background-image: url("pics/background-menu.jpg"); 
border-style: outset;
border-width: 6px;
border-top-color:gray;
border-left-color:gray;
border-right-color:black;
border-bottom-color:black;
width: 60%;
height: 65%; 
margin-top: 7%; 
margin-left: 6%;
z-index: 1;
}

#toggle:checked ~ .dropdown-menu {
  display: block;
 
}

#toggle{
   display: none;
  }

.mobileMenu{
display: inline;
float: left;
margin-left: 3%;
margin-top: 4%;
}


.Dlink{
text-decoration: none;
color: white;
}

.Dllink{
list-style-type: none;
padding-bottom: 10%;
}

.Dlink:hover{
background-color: rgb(255, 255, 255,0.5);
}

.title{
	margin-left: auto;
	margin-right: auto; 
	margin-top: 1.5%;	
	width: 75%; 
}

.Mmtitle{
font-size: 125%;
text-align: center;
}

.utitle{
	margin: auto;
	margin-top: 1.5%;	
	width: 75%; 
}

body{ 
margin: 0 auto;
width: 95%;  
background-color: #B3A482;
}

.foot{
margin-left: -3%;
font-size: 65%;
padding-right: 1%;
}

.text{
float: clear;
text-align: center;
font-size: 15.2pt;
}

}