body{ 
margin: 0 auto; 
font-family: Calibri, sans-serif;
background-color: #B3A482;
}
 
.Bunder{
background-image: url("pics/under-background.png"); 
}


#menu{ 
background: white; 
background-image: url("pics/background-menu.jpg"); 
font-size: 220%;
margin-top: 6%;
float: left;
margin-left: 1%;
padding-top: 1%;
padding-left: 3%;
padding-right: 4%;
padding-bottom: 45%; 
border-style: outset;
border-width: 6px;
border-top-color:gray;
border-left-color:gray;
border-right-color:black;
border-bottom-color:black;
}

#dmenu{
width: 40%;	
padding-left: 2%;
}

.mobileMenu{
	display: none;
}
	
 .dropdown-menu {
  display: none;
}

#toggle:checked ~ .dropdown-menu {
  display: block;
}

.mySlides16-9{
display:none;
width: 90%;
height: auto;
border-style: solid;
border-color: black;
}

.slide_show {
position: relative;
margin-left: 37%;
margin-top: 2%;
}

.slide_buttonL{
border-style: none;	
position: absolute;
margin-top: -28%;
margin-left: 0.3%;
font-size:165%;
background-color: #969997;
}

.slide_buttonL:hover {
background-color: rgb(0, 0, 0,0.8);
color: white;
transition: all .1s ease-in;}

.slide_buttonR{
border-style: none;
position: absolute;
margin-top: -28%;
margin-left: 87.2%;
font-size:165%;
background-color: #969997;
}

.slide_buttonR:hover {
background-color: rgb(0, 0, 0,0.8);
color: white;
transition: all .1s ease-in;}


.dropD{
width: 0%;
height: 0%;
visibility: hidden; 
}

.title{
margin-left: 50%;
margin-top: 1%;
background-color: blue;
width: 35%;
border-style: outset;
border-width: 5px;
border-top-color:gray;
border-left-color:gray;
border-right-color:black;
border-bottom-color:black;
background-image: url("pics/background-title.png"); 
text-shadow: 2px 1px 2px gray;
}

.stitle{
text-align: center;
margin-top: -6%;
}

.utitle{
font-size: 115%;
margin-left: 50%;
background-color: orange;
width: 35%;
margin-top: 1%;
border-style: outset;
border-width: 5px;
border-top-color:gray;
border-left-color:gray;
border-right-color:black;
border-bottom-color:black;
background-image: url("pics/under-background-menu.png"); 
text-shadow: 2px 1px 2px #FFC64C;
}

.Mmtitle{
text-align: center;
margin-top: 1%;
}

.link{
text-decoration: none;
color: white;
}

.llink{
list-style-type: none;
padding-bottom: 10%;
}

.link:hover{
background-color: rgb(255, 255, 255, 0.1); 
box-shadow: 1px 1px 1px 0 rgb(255, 255, 255,0.1), -1px -1px 1px 0 rgb(255, 255, 255,0.1);
}

.foot{
position: fixed;
bottom: 0;
width: 100%;
background-color: black;
color: white;
}

th{
color: white;
}
 
 .ufoot{
float:clear;
position: fixed;
bottom: 0;
width: 100%;
background-color: #4F4F4F;
color: white;
}
 
.dmain{
background-color: rgb(255, 255, 255,0.5);
width: 90%;
margin:auto;
padding-bottom: 55%;
}

.text{
font-size: 111%;
float: clear;
margin-left: 42%;
margin-right: 8%;
margin-top: 2%;
}

.imsaber{
float: left;
width: 30%;
height: auto;
margin-left: 7%;
border-style: solid;
transition: transform .5s; 
border-color: black;
}

.imsaber:hover{
border-style: solid;
border-color: lime;
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
filter: brightness(75%);
}

.imsh{
float: right;
float: clear;
width: 30%;
height: auto;
border-style: solid;
border-color: black;
transition: transform .5s;
}

.imsh:hover{
border-style: solid;
border-top-color: red;
border-left-color: gray;
border-right-color: gray;
border-bottom-color: blue; 
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
filter: brightness(75%); 
}

.imhammer{
float: left;
width: 30%;
height: auto;
margin-left: 7%;
margin-top: 4%;
border-style: solid;
border-color: black;
transition: transform .5s;
}

.imhammer:hover{
border-style: solid;
border-color: blue;
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
filter: brightness(75%); 
border-color: gray;
}

.imhat{
float: right;
width: 30%;
height: auto;
margin-top: 4%;
border-style: solid;
border-color: black;
transition: transform .5s;
}

.imhat:hover{
border-style: solid;
border-color: gold;
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
filter: brightness(75%); 
}

.imchaos{
clear: both;
float: left; 
width: 30%;
height: auto;
border-style: solid;
border-color: black;
transition: transform .5s;
}

.imchaos:hover{
border-style: solid;
border-bottom-color: red;
border-right-color: red;
border-left-color: orange;
border-top-color:orange;
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
filter: brightness(75%); 
}


.imaxe{
float: left;
margin-left: 3%;
width: 30%;
height: auto;
border-style: solid;
border-color: black;
transition: transform .5s;
}

.imaxe:hover{
border-style: solid;
border-color: #82F7F7;
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
filter: brightness(75%); 
}

/* under */
.split-saber{
float: left;
width: 30%;
height: auto;
margin-left: 4%;
margin-top: 4%;
border-style: solid;
border-color: black;
transition: transform .5s;
}

.split-saber:hover{
border-style: solid;
border-bottom-color: red;
border-right-color: purple;
border-left-color: red;
border-top-color:purple;
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
filter: brightness(75%); 
}

.damaged-saber{
float: right;
width: 30%;
height: auto;
margin-left: 4%;
margin-top: 4%;
border-style: solid;
border-color: black;
transition: transform .5s;
}

.damaged-saber:hover{
border-style: solid;
border-color: yellow;
 -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
filter: brightness(75%); 
}




/* done under */


.rightIm{
float: right;
width: 30%;
height: auto;
border-style: solid;
border-color: black;
transition: transform .5s;	
}
	
.leftIm{
float: left;
width: 30%;
height: auto;
margin-left: 4%;
border-style: solid;
border-color: black;
transition: transform .5s;
}


	 
@media only screen and (max-width:500px) {
  /* For mobile phones: */
 #menu{
display: none;
	    }
			
.dropdown-menu{
background-image: url("pics/background-menu.jpg"); 
border-style: outset;
border-width: 6px;
border-top-color:gray;
border-left-color:gray;
border-right-color:black;
border-bottom-color:black;
}

#toggle{
   display: none;
  }

#toggle:hover{
	-ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
}
	
.mobileMenu{
display: inline;
float: left;
margin-left: 3%;
margin-top: 4%;
}


.Dlink{
text-decoration: none;
color: white;
}

.Dllink{
list-style-type: none;
padding-bottom: 10%;
}

.Dlink:hover{
background-color: rgb(255, 255, 255,0.5);
}


.title{
	margin: auto;
	margin-top: 1.5%;	
	width: 75%; 
	
}

.Mmtitle{
font-size: 125%;
text-align: center;
}

.utitle{
	margin: auto;
	margin-top: 1.5%;	
	width: 75%; 
}

body{ 
margin: 0 auto;
width: 95%;  
background-color: #B3A482;
}

.dmain{
background-color: rgb(255, 255, 255,0.5);
width: 90%;
margin:auto;
padding-bottom: 145%;
}

.foot{
margin-left: -3%;
font-size: 65%;
padding-right: 1%;
}

.text{
float: clear;
margin-left: 6%;
}






/* images */ 

.imsaber{
	width: 45%;
}

.imsh{
	width: 45%;
}

.imhammer{
	width: 45%;
}

.imhat{
	width: 45%;
}

.imchaos{
	width: 45%;
	margin-left: 7%;
	margin-top: 4%; 
}

.imaxe{ 
	width: 45%;
	float: right;
	margin-top: -26.8%;
	
	
}



